<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Ezh</key>
    <string>E_zh.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>delta.sc</key>
    <string>delta.sc.glif</string>
    <key>omega.sc</key>
    <string>omega.sc.glif</string>
    <key>schwa.sc</key>
    <string>schwa.sc.glif</string>
  </dict>
</plist>
