<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>K</key>
    <string>K_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>b.sc</key>
    <string>b.sc.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>ezh.sc</key>
    <string>ezh.sc.glif</string>
    <key>germandbls.sc</key>
    <string>germandbls.sc.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>j.sc</key>
    <string>j.sc.glif</string>
    <key>k.sc</key>
    <string>k.sc.glif</string>
    <key>one.sc</key>
    <string>one.sc.glif</string>
    <key>schwa.sc</key>
    <string>schwa.sc.glif</string>
  </dict>
</plist>
