<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1966</integer>
    <key>capHeight</key>
    <integer>1494</integer>
    <key>copyright</key>
    <string>Copyright 2019 Merriweather Eben Sorkin (https://github.com/SorkinType/Merriweather-Sans)</string>
    <key>descender</key>
    <integer>-546</integer>
    <key>familyName</key>
    <string>Merriweather Sans</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>182</integer>
        <key>y</key>
        <integer>-224</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>432</integer>
        <key>y</key>
        <integer>1994</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>576</integer>
        <key>y</key>
        <integer>1634</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>414</integer>
        <key>y</key>
        <integer>-152</integer>
      </dict>
      <dict>
        <key>angle</key>
        <real>262.789</real>
        <key>x</key>
        <integer>44</integer>
        <key>y</key>
        <integer>-114</integer>
      </dict>
      <dict>
        <key>angle</key>
        <real>262.789</real>
        <key>x</key>
        <integer>804</integer>
        <key>y</key>
        <integer>-114</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>x</key>
        <integer>542</integer>
        <key>y</key>
        <integer>1292</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>542</integer>
        <key>y</key>
        <integer>1314</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>542</integer>
        <key>y</key>
        <integer>1206</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <real>-7.5</real>
    <key>openTypeHeadCreated</key>
    <string>2019/04/02 02:14:12</string>
    <key>openTypeHheaAscender</key>
    <integer>1968</integer>
    <key>openTypeHheaDescender</key>
    <integer>-546</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Eben Sorkin</string>
    <key>openTypeNameDesignerURL</key>
    <string>sorkintype.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Eben Sorkin</string>
    <key>openTypeNameManufacturerURL</key>
    <string>sorkintype.com</string>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>668</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>134</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1968</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-546</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>STC </string>
    <key>openTypeOS2WinAscent</key>
    <integer>2580</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>660</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-18</integer>
      <integer>0</integer>
      <integer>1114</integer>
      <integer>1130</integer>
      <integer>1292</integer>
      <integer>1312</integer>
      <integer>1494</integer>
      <integer>1512</integer>
      <integer>1966</integer>
      <integer>1998</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-578</integer>
      <integer>-546</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>116</integer>
      <integer>144</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>144</integer>
      <integer>148</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-244</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>110</integer>
    <key>styleName</key>
    <string>Light Italic</string>
    <key>trademark</key>
    <string>Merriweather is a trademark of Sorkin Type Co.</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>8</integer>
    <key>xHeight</key>
    <integer>1114</integer>
  </dict>
</plist>
