<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.Germandbls</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <real>-41.74242424242424</real>
      <key>public.kern2.U</key>
      <real>-13.484848484848484</real>
      <key>public.kern2.V</key>
      <real>-23.484848484848484</real>
      <key>public.kern2.W</key>
      <real>-20.227272727272727</real>
      <key>public.kern2.Y</key>
      <real>-28.71212121212121</real>
      <key>public.kern2.Z</key>
      <real>19.545454545454547</real>
      <key>public.kern2.a.sc</key>
      <real>6.969696969696969</real>
      <key>public.kern2.backslash.case</key>
      <real>-13.030303030303031</real>
      <key>public.kern2.comma</key>
      <real>13.030303030303031</real>
      <key>public.kern2.eight.dnom</key>
      <real>26.060606060606062</real>
      <key>public.kern2.eight.sc</key>
      <real>-6.969696969696969</real>
      <key>public.kern2.ezh.sc</key>
      <integer>-20</integer>
      <key>public.kern2.five.sc</key>
      <real>13.030303030303031</real>
      <key>public.kern2.four.dnom</key>
      <real>26.060606060606062</real>
      <key>public.kern2.four.osf</key>
      <real>23.484848484848484</real>
      <key>public.kern2.nine.osf</key>
      <integer>-20</integer>
      <key>public.kern2.o.sc</key>
      <real>-13.484848484848484</real>
      <key>public.kern2.one.osf</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <real>13.030303030303031</real>
      <key>public.kern2.question</key>
      <integer>-20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-20</integer>
      <key>public.kern2.seven.sc</key>
      <integer>-20</integer>
      <key>public.kern2.six.dnom</key>
      <real>13.030303030303031</real>
      <key>public.kern2.six.sc</key>
      <real>-10.227272727272727</real>
      <key>public.kern2.t.sc</key>
      <real>-23.484848484848484</real>
      <key>public.kern2.two.sc</key>
      <real>26.060606060606062</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.v.sc</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <real>-3.4848484848484844</real>
      <key>public.kern2.w.sc</key>
      <real>-11.742424242424242</real>
      <key>public.kern2.y</key>
      <integer>-10</integer>
      <key>public.kern2.y.sc</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.question</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.bullet</key>
      <integer>-20</integer>
      <key>public.kern2.four.osf</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-30</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.slash.case</key>
      <real>-43.484848484848484</real>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.W</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>20</integer>
      <key>public.kern2.J</key>
      <integer>10</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.W</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.a.sc</key>
      <integer>20</integer>
      <key>public.kern2.backslash</key>
      <real>-36.515151515151516</real>
      <key>public.kern2.backslash.case</key>
      <integer>-70</integer>
      <key>public.kern2.braceright</key>
      <real>13.030303030303031</real>
      <key>public.kern2.bracketright.case</key>
      <real>13.030303030303031</real>
      <key>public.kern2.four</key>
      <integer>-10</integer>
      <key>public.kern2.four.osf</key>
      <integer>10</integer>
      <key>public.kern2.guilsinglleft</key>
      <real>-6.969696969696969</real>
      <key>public.kern2.hyphen</key>
      <integer>-70</integer>
      <key>public.kern2.nine</key>
      <integer>-30</integer>
      <key>public.kern2.nine.osf</key>
      <integer>-40</integer>
      <key>public.kern2.nine.sc</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <real>-16.515151515151516</real>
      <key>public.kern2.o.sc</key>
      <integer>-20</integer>
      <key>public.kern2.one</key>
      <integer>-10</integer>
      <key>public.kern2.one.osf</key>
      <integer>-20</integer>
      <key>public.kern2.one.sc</key>
      <integer>-16</integer>
      <key>public.kern2.parenleft</key>
      <real>-13.484848484848484</real>
      <key>public.kern2.period</key>
      <integer>20</integer>
      <key>public.kern2.quotedblright</key>
      <integer>-70</integer>
      <key>public.kern2.quotesingle</key>
      <real>-83.03030303030303</real>
      <key>public.kern2.seven.osf</key>
      <integer>-16</integer>
      <key>public.kern2.seven.sc</key>
      <integer>-20</integer>
      <key>public.kern2.six</key>
      <integer>-10</integer>
      <key>public.kern2.six.osf</key>
      <integer>-16</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.t.sc</key>
      <integer>-60</integer>
      <key>public.kern2.two.sc</key>
      <integer>20</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.u.sc</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.v.sc</key>
      <integer>-40</integer>
      <key>public.kern2.w</key>
      <integer>-30</integer>
      <key>public.kern2.w.sc</key>
      <integer>-40</integer>
      <key>public.kern2.y</key>
      <integer>-30</integer>
      <key>public.kern2.y.sc</key>
      <integer>-40</integer>
      <key>public.kern2.zero</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.M</key>
    <dict>
      <key>public.kern2.a.sc</key>
      <real>6.515151515151516</real>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.o.sc</key>
      <real>-1.7424242424242422</real>
      <key>public.kern2.y.sc</key>
      <real>-13.484848484848484</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.H</key>
      <real>23.03030303030303</real>
      <key>public.kern2.W</key>
      <real>-13.484848484848484</real>
      <key>public.kern2.colon</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-23.484848484848484</real>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.guillemetright</key>
      <integer>-30</integer>
      <key>public.kern2.guilsinglleft</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <real>-13.484848484848484</real>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.guillemetright</key>
      <real>-13.484848484848484</real>
      <key>public.kern2.quotesingle</key>
      <real>-13.484848484848484</real>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>ibreve</key>
      <integer>30</integer>
      <key>icircumflex</key>
      <integer>30</integer>
      <key>idieresis</key>
      <integer>30</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <real>6.515151515151516</real>
      <key>public.kern2.a</key>
      <integer>-55</integer>
      <key>public.kern2.backslash</key>
      <real>56.96969696969697</real>
      <key>public.kern2.backslash.case</key>
      <real>63.03030303030303</real>
      <key>public.kern2.braceright</key>
      <real>6.969696969696969</real>
      <key>public.kern2.bracketright</key>
      <real>6.969696969696969</real>
      <key>public.kern2.bullet</key>
      <integer>-50</integer>
      <key>public.kern2.bullet.case</key>
      <real>-56.96969696969697</real>
      <key>public.kern2.comma</key>
      <integer>-70</integer>
      <key>public.kern2.eight</key>
      <real>-6.969696969696969</real>
      <key>public.kern2.eight.dnom</key>
      <real>-32.57575757575758</real>
      <key>public.kern2.eight.osf</key>
      <real>-26.060606060606062</real>
      <key>public.kern2.eight.sc</key>
      <real>-6.969696969696969</real>
      <key>public.kern2.ezh</key>
      <real>-24.53030303030303</real>
      <key>public.kern2.five.dnom</key>
      <real>-32.57575757575758</real>
      <key>public.kern2.five.sc</key>
      <real>13.030303030303031</real>
      <key>public.kern2.four.dnom</key>
      <real>-26.060606060606062</real>
      <key>public.kern2.four.sc</key>
      <integer>-20</integer>
      <key>public.kern2.guillemetright</key>
      <real>-43.03030303030303</real>
      <key>public.kern2.guilsinglleft</key>
      <real>-62.57575757575758</real>
      <key>public.kern2.h</key>
      <real>-26.515151515151516</real>
      <key>public.kern2.hyphen</key>
      <real>-59.54545454545455</real>
      <key>public.kern2.n</key>
      <integer>-40</integer>
      <key>public.kern2.nine.dnom</key>
      <real>-32.57575757575758</real>
      <key>public.kern2.nine.osf</key>
      <real>-26.060606060606062</real>
      <key>public.kern2.nine.sc</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-55</integer>
      <key>public.kern2.one.numr</key>
      <real>13.030303030303031</real>
      <key>public.kern2.p</key>
      <real>-36.515151515151516</real>
      <key>public.kern2.period</key>
      <integer>-70</integer>
      <key>public.kern2.periodcentered</key>
      <real>-56.96969696969697</real>
      <key>public.kern2.quotesingle</key>
      <real>16.515151515151516</real>
      <key>public.kern2.s</key>
      <real>-56.515151515151516</real>
      <key>public.kern2.schwa</key>
      <real>-35.833333333333336</real>
      <key>public.kern2.seven</key>
      <real>43.484848484848484</real>
      <key>public.kern2.seven.dnom</key>
      <real>-26.060606060606062</real>
      <key>public.kern2.seven.sc</key>
      <integer>20</integer>
      <key>public.kern2.six</key>
      <integer>-30</integer>
      <key>public.kern2.six.dnom</key>
      <real>-32.57575757575758</real>
      <key>public.kern2.six.sc</key>
      <real>-13.030303030303031</real>
      <key>public.kern2.slash</key>
      <real>-45.60606060606061</real>
      <key>public.kern2.slash.case</key>
      <real>-66.51515151515152</real>
      <key>public.kern2.t</key>
      <real>-26.515151515151516</real>
      <key>public.kern2.three</key>
      <integer>30</integer>
      <key>public.kern2.three.dnom</key>
      <real>-32.57575757575758</real>
      <key>public.kern2.two.dnom</key>
      <real>-32.57575757575758</real>
      <key>public.kern2.u</key>
      <real>-46.515151515151516</real>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.w</key>
      <integer>-30</integer>
      <key>public.kern2.x</key>
      <real>-23.484848484848484</real>
      <key>public.kern2.y</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <real>-36.96969696969697</real>
      <key>public.kern2.zero.dnom</key>
      <real>-32.57575757575758</real>
      <key>public.kern2.zero.osf.zero</key>
      <real>-26.060606060606062</real>
      <key>public.kern2.zero.zero</key>
      <real>-19.545454545454547</real>
    </dict>
    <key>public.kern1.Thorn</key>
    <dict>
      <key>public.kern2.H</key>
      <real>19.545454545454547</real>
      <key>public.kern2.W</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-18.484848484848484</real>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.a.sc</key>
      <real>-26.515151515151516</real>
      <key>public.kern2.backslash</key>
      <real>83.03030303030303</real>
      <key>public.kern2.backslash.case</key>
      <real>93.03030303030303</real>
      <key>public.kern2.braceright</key>
      <integer>40</integer>
      <key>public.kern2.bracketright.case</key>
      <real>13.939393939393938</real>
      <key>public.kern2.four.osf</key>
      <integer>-20</integer>
      <key>public.kern2.guillemetright</key>
      <integer>-30</integer>
      <key>public.kern2.guilsinglleft</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.one</key>
      <real>36.515151515151516</real>
      <key>public.kern2.period</key>
      <real>-33.484848484848484</real>
      <key>public.kern2.question</key>
      <integer>60</integer>
      <key>public.kern2.quotedblright</key>
      <real>26.515151515151516</real>
      <key>public.kern2.quotereversed</key>
      <integer>30</integer>
      <key>public.kern2.quotesingle</key>
      <real>23.03030303030303</real>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.seven</key>
      <integer>40</integer>
      <key>public.kern2.slash</key>
      <real>-50.45454545454545</real>
      <key>public.kern2.slash.case</key>
      <integer>-70</integer>
      <key>public.kern2.two</key>
      <real>13.030303030303031</real>
      <key>public.kern2.u</key>
      <real>-16.515151515151516</real>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-6.969696969696969</real>
      <key>public.kern2.T</key>
      <real>16.515151515151516</real>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.a.sc</key>
      <real>-16.96969696969697</real>
      <key>public.kern2.backslash</key>
      <real>116.51515151515152</real>
      <key>public.kern2.backslash.case</key>
      <real>103.03030303030303</real>
      <key>public.kern2.comma</key>
      <real>-16.96969696969697</real>
      <key>public.kern2.five</key>
      <real>26.060606060606062</real>
      <key>public.kern2.five.sc</key>
      <real>13.030303030303031</real>
      <key>public.kern2.four.dnom</key>
      <real>13.030303030303031</real>
      <key>public.kern2.nine</key>
      <real>13.030303030303031</real>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.one</key>
      <real>32.57575757575758</real>
      <key>public.kern2.one.sc</key>
      <real>33.03030303030303</real>
      <key>public.kern2.period</key>
      <integer>-30</integer>
      <key>public.kern2.question</key>
      <real>53.03030303030303</real>
      <key>public.kern2.quotedblright</key>
      <real>26.515151515151516</real>
      <key>public.kern2.quotesingle</key>
      <real>26.515151515151516</real>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.seven</key>
      <integer>70</integer>
      <key>public.kern2.seven.osf</key>
      <integer>20</integer>
      <key>public.kern2.seven.sc</key>
      <real>33.03030303030303</real>
      <key>public.kern2.six.osf</key>
      <real>13.030303030303031</real>
      <key>public.kern2.slash</key>
      <real>-56.96969696969697</real>
      <key>public.kern2.slash.case</key>
      <integer>-70</integer>
      <key>public.kern2.three</key>
      <real>26.060606060606062</real>
      <key>public.kern2.three.sc</key>
      <real>19.545454545454547</real>
      <key>public.kern2.two</key>
      <real>19.545454545454547</real>
      <key>public.kern2.two.sc</key>
      <real>33.03030303030303</real>
      <key>public.kern2.u</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.question</key>
      <real>39.09090909090909</real>
      <key>public.kern2.quotedblright</key>
      <real>19.545454545454547</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-20.227272727272727</real>
      <key>public.kern2.a</key>
      <real>-43.03030303030303</real>
      <key>public.kern2.a.sc</key>
      <integer>-40</integer>
      <key>public.kern2.n</key>
      <real>-16.515151515151516</real>
      <key>public.kern2.o</key>
      <real>-43.03030303030303</real>
      <key>public.kern2.one</key>
      <real>26.515151515151516</real>
      <key>public.kern2.p</key>
      <real>-16.515151515151516</real>
      <key>public.kern2.period</key>
      <real>-36.515151515151516</real>
      <key>public.kern2.question</key>
      <real>53.03030303030303</real>
      <key>public.kern2.quotedblright</key>
      <real>26.515151515151516</real>
      <key>public.kern2.quotesingle</key>
      <integer>30</integer>
      <key>public.kern2.s</key>
      <real>-36.515151515151516</real>
      <key>public.kern2.seven</key>
      <integer>50</integer>
      <key>public.kern2.two</key>
      <integer>20</integer>
      <key>public.kern2.u</key>
      <real>-26.515151515151516</real>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.A</key>
      <real>13.030303030303031</real>
      <key>public.kern2.W</key>
      <real>13.030303030303031</real>
      <key>public.kern2.a</key>
      <real>-26.515151515151516</real>
      <key>public.kern2.backslash</key>
      <real>76.06060606060606</real>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <real>-16.515151515151516</real>
      <key>public.kern2.u</key>
      <real>-8.257575757575758</real>
    </dict>
    <key>public.kern1.a.sc</key>
    <dict>
      <key>public.kern2.a.sc</key>
      <real>13.030303030303031</real>
      <key>public.kern2.o.sc</key>
      <real>-23.484848484848484</real>
      <key>public.kern2.t.sc</key>
      <real>-38.484848484848484</real>
      <key>public.kern2.v.sc</key>
      <real>-19.545454545454547</real>
      <key>public.kern2.w.sc</key>
      <real>-16.96969696969697</real>
      <key>public.kern2.y.sc</key>
      <real>-46.74242424242424</real>
    </dict>
    <key>public.kern1.backslash</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-45.60606060606061</real>
      <key>public.kern2.V</key>
      <real>-76.96969696969697</real>
      <key>public.kern2.W</key>
      <real>-73.48484848484848</real>
      <key>public.kern2.f</key>
      <integer>-40</integer>
      <key>public.kern2.jdotless</key>
      <real>139.54545454545456</real>
    </dict>
    <key>public.kern1.backslash.case</key>
    <dict>
      <key>public.kern2.A</key>
      <real>13.030303030303031</real>
      <key>public.kern2.T</key>
      <real>-66.51515151515152</real>
      <key>public.kern2.V</key>
      <real>-73.48484848484848</real>
      <key>public.kern2.W</key>
      <integer>-70</integer>
      <key>public.kern2.questiondown</key>
      <real>26.060606060606062</real>
    </dict>
    <key>public.kern1.braceleft</key>
    <dict>
      <key>public.kern2.T</key>
      <real>6.969696969696969</real>
      <key>public.kern2.V</key>
      <integer>40</integer>
      <key>public.kern2.jdotless</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.bracketleft</key>
    <dict>
      <key>public.kern2.T</key>
      <real>6.969696969696969</real>
      <key>public.kern2.jdotless</key>
      <real>17.424242424242422</real>
    </dict>
    <key>public.kern1.bracketleft.case</key>
    <dict>
      <key>public.kern2.H</key>
      <real>13.030303030303031</real>
      <key>public.kern2.V</key>
      <real>13.939393939393938</real>
    </dict>
    <key>public.kern1.bullet</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.f</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.bullet.case</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-56.96969696969697</real>
    </dict>
    <key>public.kern1.c.sc</key>
    <dict>
      <key>public.kern2.a.sc</key>
      <real>-6.515151515151516</real>
    </dict>
    <key>public.kern1.colon</key>
    <dict>
      <key>public.kern2.y</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.e.sc</key>
    <dict>
      <key>public.kern2.o.sc</key>
      <integer>-20</integer>
      <key>public.kern2.v.sc</key>
      <real>-3.4848484848484844</real>
      <key>public.kern2.w.sc</key>
      <real>-6.969696969696969</real>
    </dict>
    <key>public.kern1.eight</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-6.969696969696969</real>
    </dict>
    <key>public.kern1.eight.dnom</key>
    <dict>
      <key>public.kern2.A</key>
      <real>26.060606060606062</real>
    </dict>
    <key>public.kern1.eight.osf</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-26.060606060606062</real>
    </dict>
    <key>public.kern1.eight.sc</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-6.969696969696969</real>
    </dict>
    <key>public.kern1.exclam</key>
    <dict>
      <key>public.kern2.questiondown</key>
      <real>-26.515151515151516</real>
    </dict>
    <key>public.kern1.exclamdown</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>30</integer>
      <key>public.kern2.jdotless</key>
      <real>63.03030303030303</real>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>ibreve</key>
      <integer>20</integer>
      <key>icircumflex</key>
      <integer>20</integer>
      <key>idieresis</key>
      <real>13.484848484848484</real>
      <key>public.kern2.asterisk</key>
      <real>36.515151515151516</real>
      <key>public.kern2.backslash</key>
      <real>106.96969696969697</real>
      <key>public.kern2.backslash.case</key>
      <integer>100</integer>
      <key>public.kern2.braceright</key>
      <real>26.060606060606062</real>
      <key>public.kern2.bracketright</key>
      <real>26.060606060606062</real>
      <key>public.kern2.bracketright.case</key>
      <integer>40</integer>
      <key>public.kern2.bullet</key>
      <integer>-20</integer>
      <key>public.kern2.guillemetright</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.lslash</key>
      <integer>20</integer>
      <key>public.kern2.nine.osf</key>
      <integer>-20</integer>
      <key>public.kern2.one</key>
      <integer>30</integer>
      <key>public.kern2.parenright</key>
      <real>26.060606060606062</real>
      <key>public.kern2.parenright.case</key>
      <real>26.060606060606062</real>
      <key>public.kern2.period</key>
      <integer>-30</integer>
      <key>public.kern2.question</key>
      <integer>30</integer>
      <key>public.kern2.quotedblright</key>
      <integer>50</integer>
      <key>public.kern2.quotesingle</key>
      <integer>50</integer>
      <key>public.kern2.seven</key>
      <real>46.96969696969697</real>
      <key>public.kern2.seven.osf</key>
      <integer>30</integer>
      <key>public.kern2.three</key>
      <integer>30</integer>
      <key>public.kern2.two</key>
      <integer>30</integer>
      <key>public.kern2.v</key>
      <integer>20</integer>
      <key>public.kern2.w</key>
      <integer>20</integer>
      <key>public.kern2.x</key>
      <integer>20</integer>
      <key>public.kern2.y</key>
      <integer>20</integer>
      <key>public.kern2.zero</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.f.sc</key>
    <dict>
      <key>public.kern2.a.sc</key>
      <real>-41.74242424242424</real>
      <key>public.kern2.o.sc</key>
      <real>-11.515151515151516</real>
    </dict>
    <key>public.kern1.five.dnom</key>
    <dict>
      <key>public.kern2.A</key>
      <real>32.57575757575758</real>
    </dict>
    <key>public.kern1.five.osf</key>
    <dict>
      <key>public.kern2.A</key>
      <real>26.515151515151516</real>
      <key>public.kern2.M</key>
      <integer>10</integer>
      <key>public.kern2.W</key>
      <real>-13.030303030303031</real>
    </dict>
    <key>public.kern1.five.sc</key>
    <dict>
      <key>public.kern2.A</key>
      <real>13.030303030303031</real>
      <key>public.kern2.t.sc</key>
      <real>6.969696969696969</real>
    </dict>
    <key>public.kern1.four</key>
    <dict>
      <key>public.kern2.A</key>
      <real>13.030303030303031</real>
      <key>public.kern2.T</key>
      <real>-26.515151515151516</real>
    </dict>
    <key>public.kern1.four.dnom</key>
    <dict>
      <key>public.kern2.A</key>
      <real>26.060606060606062</real>
    </dict>
    <key>public.kern1.four.osf</key>
    <dict>
      <key>public.kern2.A</key>
      <real>36.515151515151516</real>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <real>-36.515151515151516</real>
    </dict>
    <key>public.kern1.four.sc</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-26.515151515151516</real>
      <key>public.kern2.t.sc</key>
      <real>-43.484848484848484</real>
    </dict>
    <key>public.kern1.fraction</key>
    <dict>
      <key>public.kern2.seven.dnom</key>
      <real>67.56060606060606</real>
    </dict>
    <key>public.kern1.guillemetright</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>30</integer>
      <key>public.kern2.T</key>
      <real>-56.06060606060606</real>
      <key>public.kern2.V</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.guilsinglleft</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-43.03030303030303</real>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.f</key>
      <integer>-20</integer>
      <key>public.kern2.jdotless</key>
      <integer>-20</integer>
      <key>public.kern2.questiondown</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <real>-59.54545454545455</real>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.f</key>
      <integer>-20</integer>
      <key>public.kern2.one.osf</key>
      <real>26.515151515151516</real>
      <key>public.kern2.seven.sc</key>
      <integer>-20</integer>
      <key>public.kern2.v.sc</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.increment</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.jdotless</key>
    <dict>
      <key>public.kern2.guillemetright</key>
      <integer>-20</integer>
      <key>public.kern2.lslash</key>
      <real>13.030303030303031</real>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>10</integer>
      <key>public.kern2.y</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.l.sc</key>
    <dict>
      <key>public.kern2.t.sc</key>
      <integer>-70</integer>
      <key>public.kern2.v.sc</key>
      <real>-56.515151515151516</real>
      <key>public.kern2.w.sc</key>
      <integer>-50</integer>
      <key>public.kern2.y.sc</key>
      <real>-63.484848484848484</real>
    </dict>
    <key>public.kern1.leftanglebracket-math</key>
    <dict>
      <key>public.kern2.questiondown</key>
      <real>-83.03030303030303</real>
    </dict>
    <key>public.kern1.lslash</key>
    <dict>
      <key>public.kern2.ezh</key>
      <real>19.545454545454547</real>
      <key>public.kern2.f</key>
      <integer>20</integer>
      <key>public.kern2.five</key>
      <real>13.030303030303031</real>
      <key>public.kern2.jdotless</key>
      <real>13.030303030303031</real>
      <key>public.kern2.lslash</key>
      <real>6.515151515151516</real>
      <key>public.kern2.o</key>
      <integer>20</integer>
      <key>public.kern2.one</key>
      <real>13.030303030303031</real>
      <key>public.kern2.one.osf</key>
      <real>13.030303030303031</real>
      <key>public.kern2.seven.osf</key>
      <real>26.515151515151516</real>
      <key>public.kern2.t</key>
      <integer>20</integer>
      <key>public.kern2.three.osf</key>
      <real>19.545454545454547</real>
      <key>public.kern2.v</key>
      <real>33.03030303030303</real>
      <key>public.kern2.w</key>
      <real>33.03030303030303</real>
      <key>public.kern2.x</key>
      <real>26.515151515151516</real>
      <key>public.kern2.y</key>
      <real>26.515151515151516</real>
      <key>public.kern2.z</key>
      <real>13.030303030303031</real>
    </dict>
    <key>public.kern1.m.sc</key>
    <dict>
      <key>public.kern2.o.sc</key>
      <real>-6.742424242424242</real>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.one</key>
      <real>13.030303030303031</real>
      <key>public.kern2.one.sc</key>
      <real>16.515151515151516</real>
      <key>public.kern2.parenright.case</key>
      <real>-16.515151515151516</real>
      <key>public.kern2.three.sc</key>
      <real>3.4848484848484844</real>
      <key>public.kern2.zero</key>
      <real>13.484848484848484</real>
    </dict>
    <key>public.kern1.nine.dnom</key>
    <dict>
      <key>public.kern2.W</key>
      <real>-10.454545454545453</real>
    </dict>
    <key>public.kern1.nine.osf</key>
    <dict>
      <key>public.kern2.A</key>
      <real>16.515151515151516</real>
      <key>public.kern2.H</key>
      <integer>30</integer>
      <key>public.kern2.T</key>
      <real>-26.060606060606062</real>
    </dict>
    <key>public.kern1.nine.sc</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-13.030303030303031</real>
      <key>public.kern2.W</key>
      <real>-13.030303030303031</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.lslash</key>
      <real>9.545454545454547</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <real>-3.4848484848484844</real>
      <key>public.kern2.y</key>
      <integer>-10</integer>
      <key>public.kern2.z</key>
      <real>-6.515151515151516</real>
    </dict>
    <key>public.kern1.o.sc</key>
    <dict>
      <key>public.kern2.a.sc</key>
      <integer>-20</integer>
      <key>public.kern2.m.sc</key>
      <real>-6.969696969696969</real>
      <key>public.kern2.s.sc</key>
      <real>-6.515151515151516</real>
      <key>public.kern2.t.sc</key>
      <real>-26.515151515151516</real>
      <key>public.kern2.y.sc</key>
      <real>-33.484848484848484</real>
    </dict>
    <key>public.kern1.one</key>
    <dict>
      <key>public.kern2.a</key>
      <real>6.515151515151516</real>
    </dict>
    <key>public.kern1.one.dnom</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>40</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.fraction</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.one.osf</key>
    <dict>
      <key>public.kern2.W</key>
      <real>-23.484848484848484</real>
      <key>public.kern2.question</key>
      <real>-6.969696969696969</real>
    </dict>
    <key>public.kern1.one.sc</key>
    <dict>
      <key>public.kern2.W</key>
      <real>-6.969696969696969</real>
    </dict>
    <key>public.kern1.p.sc</key>
    <dict>
      <key>public.kern2.a.sc</key>
      <integer>-70</integer>
      <key>public.kern2.period</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.parenleft</key>
    <dict>
      <key>public.kern2.jdotless</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.parenleft.case</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-26.515151515151516</real>
      <key>public.kern2.jdotless</key>
      <real>17.424242424242422</real>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>20</integer>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <real>-36.515151515151516</real>
      <key>public.kern2.Z</key>
      <real>13.030303030303031</real>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.four.osf</key>
      <integer>20</integer>
      <key>public.kern2.jdotless</key>
      <integer>50</integer>
      <key>public.kern2.questiondown</key>
      <integer>30</integer>
      <key>public.kern2.quotedblleft</key>
      <integer>-60</integer>
      <key>public.kern2.quotedblright</key>
      <integer>-60</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-60</integer>
      <key>public.kern2.seven.osf</key>
      <integer>-40</integer>
      <key>public.kern2.seven.sc</key>
      <integer>-40</integer>
      <key>public.kern2.t.sc</key>
      <integer>-40</integer>
      <key>public.kern2.w</key>
      <integer>-30</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.periodcentered</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-56.96969696969697</real>
    </dict>
    <key>public.kern1.q</key>
    <dict>
      <key>public.kern2.jdotless</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.question</key>
    <dict>
      <key>public.kern2.backslash</key>
      <integer>50</integer>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <real>-59.54545454545455</real>
    </dict>
    <key>public.kern1.questiondown</key>
    <dict>
      <key>public.kern2.jdotless</key>
      <integer>90</integer>
      <key>public.kern2.lslash</key>
      <real>33.03030303030303</real>
      <key>public.kern2.slash.case</key>
      <real>26.060606060606062</real>
      <key>public.kern2.y</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.quotedblleft</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.Germandbls</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>20</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.exclamdown.case</key>
      <real>-33.93939393939394</real>
      <key>public.kern2.period</key>
      <integer>-60</integer>
      <key>public.kern2.questiondown</key>
      <integer>-90</integer>
      <key>public.kern2.questiondown.case</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.f</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <real>-23.484848484848484</real>
      <key>public.kern2.period</key>
      <integer>-60</integer>
      <key>public.kern2.questiondown</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.quotereversed</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-60</integer>
      <key>public.kern2.questiondown</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <real>16.515151515151516</real>
      <key>public.kern2.V</key>
      <real>23.03030303030303</real>
      <key>public.kern2.W</key>
      <real>26.515151515151516</real>
      <key>public.kern2.Y</key>
      <integer>30</integer>
      <key>public.kern2.period</key>
      <integer>-30</integer>
      <key>public.kern2.questiondown</key>
      <integer>-70</integer>
      <key>public.kern2.t.sc</key>
      <integer>30</integer>
      <key>public.kern2.v.sc</key>
      <real>13.030303030303031</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-16.515151515151516</real>
      <key>public.kern2.lslash</key>
      <real>13.030303030303031</real>
      <key>public.kern2.period</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.s.sc</key>
    <dict>
      <key>public.kern2.a.sc</key>
      <real>-6.515151515151516</real>
      <key>public.kern2.o.sc</key>
      <real>-9.772727272727273</real>
    </dict>
    <key>public.kern1.seven</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-23.484848484848484</real>
      <key>public.kern2.T</key>
      <integer>20</integer>
      <key>public.kern2.V</key>
      <integer>40</integer>
      <key>public.kern2.W</key>
      <real>26.515151515151516</real>
      <key>public.kern2.four</key>
      <real>-16.96969696969697</real>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.seven.dnom</key>
    <dict>
      <key>public.kern2.A</key>
      <real>26.060606060606062</real>
      <key>public.kern2.fraction</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.seven.sc</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>20</integer>
      <key>public.kern2.W</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.six</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-36.515151515151516</real>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.six.dnom</key>
    <dict>
      <key>public.kern2.A</key>
      <real>32.57575757575758</real>
      <key>public.kern2.W</key>
      <real>-10.454545454545453</real>
    </dict>
    <key>public.kern1.six.sc</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-13.030303030303031</real>
    </dict>
    <key>public.kern1.slash</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>40</integer>
      <key>public.kern2.W</key>
      <real>53.03030303030303</real>
      <key>public.kern2.a</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.slash.case</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>30</integer>
      <key>public.kern2.W</key>
      <real>63.03030303030303</real>
      <key>public.kern2.questiondown</key>
      <real>-26.060606060606062</real>
    </dict>
    <key>public.kern1.sterling</key>
    <dict>
      <key>public.kern2.two</key>
      <real>19.545454545454547</real>
    </dict>
    <key>public.kern1.t.sc</key>
    <dict>
      <key>public.kern2.a.sc</key>
      <real>-36.515151515151516</real>
      <key>public.kern2.five.sc</key>
      <real>26.515151515151516</real>
      <key>public.kern2.four.sc</key>
      <real>-13.939393939393938</real>
      <key>public.kern2.o.sc</key>
      <real>-26.515151515151516</real>
      <key>public.kern2.one.sc</key>
      <real>53.03030303030303</real>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.quotesingle</key>
      <integer>30</integer>
      <key>public.kern2.seven.sc</key>
      <real>26.515151515151516</real>
      <key>public.kern2.three.sc</key>
      <integer>30</integer>
      <key>public.kern2.two.sc</key>
      <real>46.515151515151516</real>
      <key>public.kern2.v.sc</key>
      <integer>30</integer>
      <key>public.kern2.w.sc</key>
      <integer>30</integer>
      <key>public.kern2.y.sc</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.three.dnom</key>
    <dict>
      <key>public.kern2.A</key>
      <real>19.545454545454547</real>
      <key>public.kern2.fraction</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.three.osf</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>20</integer>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <real>-26.060606060606062</real>
    </dict>
    <key>public.kern1.two.dnom</key>
    <dict>
      <key>public.kern2.W</key>
      <real>-13.030303030303031</real>
    </dict>
    <key>public.kern1.two.osf</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-19.545454545454547</real>
      <key>public.kern2.W</key>
      <real>-13.030303030303031</real>
      <key>public.kern2.question</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.two.sc</key>
    <dict>
      <key>public.kern2.A</key>
      <real>26.060606060606062</real>
    </dict>
    <key>public.kern1.uhorn.sc</key>
    <dict>
      <key>public.kern2.t.sc</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.f</key>
      <real>6.969696969696969</real>
      <key>public.kern2.lslash</key>
      <real>13.030303030303031</real>
    </dict>
    <key>public.kern1.v.sc</key>
    <dict>
      <key>public.kern2.a.sc</key>
      <real>-26.515151515151516</real>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.quotesingle</key>
      <real>13.030303030303031</real>
      <key>public.kern2.seven.osf</key>
      <real>26.515151515151516</real>
      <key>public.kern2.t.sc</key>
      <integer>30</integer>
      <key>public.kern2.y.sc</key>
      <real>15.227272727272727</real>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.lslash</key>
      <integer>20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.w.sc</key>
    <dict>
      <key>public.kern2.a.sc</key>
      <real>-16.96969696969697</real>
      <key>public.kern2.t.sc</key>
      <real>36.515151515151516</real>
    </dict>
    <key>public.kern1.y.sc</key>
    <dict>
      <key>public.kern2.a.sc</key>
      <real>-59.54545454545455</real>
      <key>public.kern2.o.sc</key>
      <real>-19.545454545454547</real>
      <key>public.kern2.t.sc</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.zero</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>30</integer>
      <key>public.kern2.a</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.zero.osf.zero</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-26.060606060606062</real>
    </dict>
    <key>public.kern1.zero.zero</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-19.545454545454547</real>
    </dict>
  </dict>
</plist>
