<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>K</key>
    <string>K_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>b.sc</key>
    <string>b.sc.glif</string>
    <key>commaturnedabovecomb.case</key>
    <string>commaturnedabovecomb.case.glif</string>
    <key>delta.sc</key>
    <string>delta.sc.glif</string>
    <key>dram-arm</key>
    <string>dram-arm.glif</string>
    <key>ezh</key>
    <string>ezh.glif</string>
    <key>ezh.sc</key>
    <string>ezh.sc.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>g.sc</key>
    <string>g.sc.glif</string>
    <key>germandbls.sc</key>
    <string>germandbls.sc.glif</string>
    <key>hungarumlautcomb.case</key>
    <string>hungarumlautcomb.case.glif</string>
    <key>ij_acutecomb</key>
    <string>ij_acutecomb.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>j.sc</key>
    <string>j.sc.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>o.sc</key>
    <string>o.sc.glif</string>
    <key>oe.sc</key>
    <string>oe.sc.glif</string>
    <key>one.sc</key>
    <string>one.sc.glif</string>
    <key>q.sc</key>
    <string>q.sc.glif</string>
    <key>schwa.sc</key>
    <string>schwa.sc.glif</string>
    <key>upBlackTriangle</key>
    <string>upB_lackT_riangle.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.tf</key>
    <string>zero.tf.glif</string>
    <key>zero.tf.zero</key>
    <string>zero.tf.zero.glif</string>
  </dict>
</plist>
