<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.Germandbls</key>
      <real>-40.0</real>
      <key>public.kern2.O</key>
      <real>-30.0</real>
      <key>public.kern2.T</key>
      <real>-100.0</real>
      <key>public.kern2.U</key>
      <real>-40.0</real>
      <key>public.kern2.V</key>
      <real>-80.0</real>
      <key>public.kern2.W</key>
      <real>-80.0</real>
      <key>public.kern2.Y</key>
      <real>-100.0</real>
      <key>public.kern2.eight.sc</key>
      <real>-40.0</real>
      <key>public.kern2.ezh.sc</key>
      <real>-40.0</real>
      <key>public.kern2.four.osf</key>
      <real>40.0</real>
      <key>public.kern2.nine.osf</key>
      <real>-40.0</real>
      <key>public.kern2.o.sc</key>
      <real>-20.0</real>
      <key>public.kern2.one.osf</key>
      <real>-40.0</real>
      <key>public.kern2.question</key>
      <real>-40.0</real>
      <key>public.kern2.quotesingle</key>
      <real>-60.0</real>
      <key>public.kern2.seven.sc</key>
      <real>-40.0</real>
      <key>public.kern2.six.sc</key>
      <real>-60.0</real>
      <key>public.kern2.t.sc</key>
      <real>-70.0</real>
      <key>public.kern2.v</key>
      <real>-30.0</real>
      <key>public.kern2.v.sc</key>
      <real>-60.0</real>
      <key>public.kern2.w.sc</key>
      <real>-30.0</real>
      <key>public.kern2.y</key>
      <real>-20.0</real>
      <key>public.kern2.y.sc</key>
      <real>-60.0</real>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <real>-60.0</real>
      <key>public.kern2.question</key>
      <real>40.0</real>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-60.0</real>
      <key>public.kern2.bullet</key>
      <real>-40.0</real>
      <key>public.kern2.four.osf</key>
      <real>-60.0</real>
      <key>public.kern2.hyphen</key>
      <real>-40.0</real>
      <key>public.kern2.n</key>
      <real>-20.0</real>
      <key>public.kern2.o</key>
      <real>-60.0</real>
      <key>public.kern2.p</key>
      <real>-40.0</real>
      <key>public.kern2.period</key>
      <real>-60.0</real>
      <key>public.kern2.s</key>
      <real>-40.0</real>
      <key>public.kern2.slash.case</key>
      <real>-100.0</real>
      <key>public.kern2.u</key>
      <real>-40.0</real>
      <key>public.kern2.z</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.W</key>
      <real>-20.0</real>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <real>40.0</real>
      <key>public.kern2.J</key>
      <real>40.0</real>
      <key>public.kern2.O</key>
      <real>-60.0</real>
      <key>public.kern2.T</key>
      <real>-80.0</real>
      <key>public.kern2.V</key>
      <real>-80.0</real>
      <key>public.kern2.W</key>
      <real>-80.0</real>
      <key>public.kern2.Y</key>
      <real>-80.0</real>
      <key>public.kern2.a</key>
      <real>-20.0</real>
      <key>public.kern2.a.sc</key>
      <real>40.0</real>
      <key>public.kern2.backslash</key>
      <real>-40.0</real>
      <key>public.kern2.backslash.case</key>
      <real>-120.0</real>
      <key>public.kern2.four</key>
      <real>-20.0</real>
      <key>public.kern2.four.osf</key>
      <real>20.0</real>
      <key>public.kern2.guilsinglleft</key>
      <real>-40.0</real>
      <key>public.kern2.hyphen</key>
      <real>-140.0</real>
      <key>public.kern2.nine</key>
      <real>-60.0</real>
      <key>public.kern2.nine.osf</key>
      <real>-80.0</real>
      <key>public.kern2.nine.sc</key>
      <real>-40.0</real>
      <key>public.kern2.o</key>
      <real>-20.0</real>
      <key>public.kern2.o.sc</key>
      <real>-40.0</real>
      <key>public.kern2.one</key>
      <real>-20.0</real>
      <key>public.kern2.one.osf</key>
      <real>-40.0</real>
      <key>public.kern2.one.sc</key>
      <real>-32.0</real>
      <key>public.kern2.parenleft</key>
      <real>-40.0</real>
      <key>public.kern2.period</key>
      <real>40.0</real>
      <key>public.kern2.quotedblright</key>
      <real>-140.0</real>
      <key>public.kern2.quotesingle</key>
      <real>-180.0</real>
      <key>public.kern2.seven.osf</key>
      <real>-32.0</real>
      <key>public.kern2.seven.sc</key>
      <real>-40.0</real>
      <key>public.kern2.six</key>
      <real>-20.0</real>
      <key>public.kern2.six.osf</key>
      <real>-32.0</real>
      <key>public.kern2.t</key>
      <real>-20.0</real>
      <key>public.kern2.t.sc</key>
      <real>-120.0</real>
      <key>public.kern2.two.sc</key>
      <real>20.0</real>
      <key>public.kern2.u</key>
      <real>-20.0</real>
      <key>public.kern2.u.sc</key>
      <real>-40.0</real>
      <key>public.kern2.v</key>
      <real>-60.0</real>
      <key>public.kern2.v.sc</key>
      <real>-80.0</real>
      <key>public.kern2.w</key>
      <real>-60.0</real>
      <key>public.kern2.w.sc</key>
      <real>-80.0</real>
      <key>public.kern2.y</key>
      <real>-60.0</real>
      <key>public.kern2.y.sc</key>
      <real>-80.0</real>
      <key>public.kern2.zero</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.M</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <real>-40.0</real>
      <key>public.kern2.o.sc</key>
      <real>-10.0</real>
      <key>public.kern2.y.sc</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.W</key>
      <real>-40.0</real>
      <key>public.kern2.colon</key>
      <real>40.0</real>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-60.0</real>
      <key>public.kern2.o</key>
      <real>-40.0</real>
      <key>public.kern2.period</key>
      <real>-80.0</real>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-20.0</real>
      <key>public.kern2.guillemetright</key>
      <real>-60.0</real>
      <key>public.kern2.guilsinglleft</key>
      <real>-60.0</real>
      <key>public.kern2.hyphen</key>
      <real>-80.0</real>
      <key>public.kern2.o</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.guillemetright</key>
      <real>-20.0</real>
      <key>public.kern2.quotesingle</key>
      <real>-20.0</real>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-60.0</real>
      <key>public.kern2.a</key>
      <real>-100.0</real>
      <key>public.kern2.backslash</key>
      <real>140.0</real>
      <key>public.kern2.backslash.case</key>
      <real>100.0</real>
      <key>public.kern2.braceright</key>
      <real>80.0</real>
      <key>public.kern2.bracketright</key>
      <real>40.0</real>
      <key>public.kern2.eight</key>
      <real>-40.0</real>
      <key>public.kern2.eight.sc</key>
      <real>-40.0</real>
      <key>public.kern2.ezh</key>
      <real>-80.0</real>
      <key>public.kern2.four.sc</key>
      <real>-40.0</real>
      <key>public.kern2.guillemetright</key>
      <real>-80.0</real>
      <key>public.kern2.guilsinglleft</key>
      <real>-80.0</real>
      <key>public.kern2.hyphen</key>
      <real>-80.0</real>
      <key>public.kern2.idotless</key>
      <real>60.0</real>
      <key>public.kern2.n</key>
      <real>-60.0</real>
      <key>public.kern2.o</key>
      <real>-100.0</real>
      <key>public.kern2.p</key>
      <real>-40.0</real>
      <key>public.kern2.period</key>
      <real>-140.0</real>
      <key>public.kern2.periodcentered</key>
      <real>-140.0</real>
      <key>public.kern2.quotedblleft</key>
      <real>40.0</real>
      <key>public.kern2.quotereversed</key>
      <real>40.0</real>
      <key>public.kern2.s</key>
      <real>-100.0</real>
      <key>public.kern2.seven</key>
      <real>100.0</real>
      <key>public.kern2.seven.sc</key>
      <real>40.0</real>
      <key>public.kern2.six</key>
      <real>-60.0</real>
      <key>public.kern2.slash.case</key>
      <real>-100.0</real>
      <key>public.kern2.three</key>
      <real>60.0</real>
      <key>public.kern2.three.sc</key>
      <real>40.0</real>
      <key>public.kern2.u</key>
      <real>-60.0</real>
      <key>public.kern2.v</key>
      <real>-60.0</real>
      <key>public.kern2.w</key>
      <real>-60.0</real>
      <key>public.kern2.x</key>
      <real>-60.0</real>
      <key>public.kern2.y</key>
      <real>-60.0</real>
      <key>public.kern2.z</key>
      <real>-60.0</real>
    </dict>
    <key>public.kern1.Thorn</key>
    <dict>
      <key>public.kern2.W</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-60.0</real>
      <key>public.kern2.a</key>
      <real>-60.0</real>
      <key>public.kern2.a.sc</key>
      <real>-80.0</real>
      <key>public.kern2.backslash</key>
      <real>160.0</real>
      <key>public.kern2.backslash.case</key>
      <real>100.0</real>
      <key>public.kern2.braceright</key>
      <real>80.0</real>
      <key>public.kern2.four.osf</key>
      <real>-40.0</real>
      <key>public.kern2.guillemetright</key>
      <real>-60.0</real>
      <key>public.kern2.guilsinglleft</key>
      <real>-60.0</real>
      <key>public.kern2.hyphen</key>
      <real>-80.0</real>
      <key>public.kern2.o</key>
      <real>-60.0</real>
      <key>public.kern2.parenleft</key>
      <real>-60.0</real>
      <key>public.kern2.period</key>
      <real>-60.0</real>
      <key>public.kern2.question</key>
      <real>80.0</real>
      <key>public.kern2.quotedblright</key>
      <real>20.0</real>
      <key>public.kern2.quotereversed</key>
      <real>60.0</real>
      <key>public.kern2.quotesingle</key>
      <real>40.0</real>
      <key>public.kern2.s</key>
      <real>-40.0</real>
      <key>public.kern2.seven</key>
      <real>80.0</real>
      <key>public.kern2.six</key>
      <real>-40.0</real>
      <key>public.kern2.slash</key>
      <real>-160.0</real>
      <key>public.kern2.slash.case</key>
      <real>-180.0</real>
      <key>public.kern2.u</key>
      <real>-20.0</real>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-60.0</real>
      <key>public.kern2.a</key>
      <real>-60.0</real>
      <key>public.kern2.a.sc</key>
      <real>-60.0</real>
      <key>public.kern2.backslash</key>
      <real>180.0</real>
      <key>public.kern2.backslash.case</key>
      <real>140.0</real>
      <key>public.kern2.bullet</key>
      <real>-60.0</real>
      <key>public.kern2.o</key>
      <real>-60.0</real>
      <key>public.kern2.p</key>
      <real>-40.0</real>
      <key>public.kern2.period</key>
      <real>-80.0</real>
      <key>public.kern2.question</key>
      <real>60.0</real>
      <key>public.kern2.quotesingle</key>
      <real>40.0</real>
      <key>public.kern2.s</key>
      <real>-50.0</real>
      <key>public.kern2.seven</key>
      <real>120.0</real>
      <key>public.kern2.slash</key>
      <real>-180.0</real>
      <key>public.kern2.slash.case</key>
      <real>-100.0</real>
      <key>public.kern2.three.sc</key>
      <real>40.0</real>
      <key>public.kern2.u</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-60.0</real>
      <key>public.kern2.a</key>
      <real>-60.0</real>
      <key>public.kern2.a.sc</key>
      <real>-80.0</real>
      <key>public.kern2.n</key>
      <real>-20.0</real>
      <key>public.kern2.o</key>
      <real>-60.0</real>
      <key>public.kern2.one</key>
      <real>40.0</real>
      <key>public.kern2.p</key>
      <real>-20.0</real>
      <key>public.kern2.period</key>
      <real>-60.0</real>
      <key>public.kern2.question</key>
      <real>80.0</real>
      <key>public.kern2.quotedblright</key>
      <real>20.0</real>
      <key>public.kern2.quotesingle</key>
      <real>40.0</real>
      <key>public.kern2.s</key>
      <real>-60.0</real>
      <key>public.kern2.seven</key>
      <real>80.0</real>
      <key>public.kern2.six</key>
      <real>-40.0</real>
      <key>public.kern2.two</key>
      <real>40.0</real>
      <key>public.kern2.u</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-40.0</real>
      <key>public.kern2.backslash</key>
      <real>100.0</real>
      <key>public.kern2.hyphen</key>
      <real>-40.0</real>
      <key>public.kern2.o</key>
      <real>-20.0</real>
      <key>public.kern2.u</key>
      <real>-10.0</real>
    </dict>
    <key>public.kern1.a.sc</key>
    <dict>
      <key>public.kern2.o.sc</key>
      <real>-60.0</real>
      <key>public.kern2.t.sc</key>
      <real>-90.0</real>
      <key>public.kern2.w.sc</key>
      <real>-100.0</real>
      <key>public.kern2.y.sc</key>
      <real>-96.0</real>
    </dict>
    <key>public.kern1.backslash</key>
    <dict>
      <key>public.kern2.V</key>
      <real>-180.0</real>
      <key>public.kern2.W</key>
      <real>-180.0</real>
      <key>public.kern2.f</key>
      <real>-80.0</real>
      <key>public.kern2.jdotless</key>
      <real>240.0</real>
    </dict>
    <key>public.kern1.backslash.case</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-100.0</real>
      <key>public.kern2.V</key>
      <real>-140.0</real>
      <key>public.kern2.W</key>
      <real>-140.0</real>
    </dict>
    <key>public.kern1.braceleft</key>
    <dict>
      <key>public.kern2.T</key>
      <real>40.0</real>
      <key>public.kern2.V</key>
      <real>80.0</real>
    </dict>
    <key>public.kern1.bracketleft</key>
    <dict>
      <key>public.kern2.T</key>
      <real>40.0</real>
    </dict>
    <key>public.kern1.bullet</key>
    <dict>
      <key>public.kern2.W</key>
      <real>-60.0</real>
      <key>public.kern2.f</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.colon</key>
    <dict>
      <key>public.kern2.y</key>
      <real>60.0</real>
    </dict>
    <key>public.kern1.e.sc</key>
    <dict>
      <key>public.kern2.o.sc</key>
      <real>-60.0</real>
      <key>public.kern2.v.sc</key>
      <real>-20.0</real>
      <key>public.kern2.w.sc</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.eight</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.eight.sc</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.exclam</key>
    <dict>
      <key>public.kern2.questiondown</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.exclamdown</key>
    <dict>
      <key>public.kern2.J</key>
      <real>60.0</real>
      <key>public.kern2.jdotless</key>
      <real>60.0</real>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <real>60.0</real>
      <key>public.kern2.backslash</key>
      <real>240.0</real>
      <key>public.kern2.backslash.case</key>
      <real>220.0</real>
      <key>public.kern2.braceright</key>
      <real>180.0</real>
      <key>public.kern2.bracketright</key>
      <real>140.0</real>
      <key>public.kern2.bracketright.case</key>
      <real>100.0</real>
      <key>public.kern2.bullet</key>
      <real>-40.0</real>
      <key>public.kern2.guillemetright</key>
      <real>-40.0</real>
      <key>public.kern2.idotless</key>
      <real>60.0</real>
      <key>public.kern2.lslash</key>
      <real>40.0</real>
      <key>public.kern2.nine.osf</key>
      <real>-40.0</real>
      <key>public.kern2.one</key>
      <real>60.0</real>
      <key>public.kern2.parenright</key>
      <real>180.0</real>
      <key>public.kern2.parenright.case</key>
      <real>140.0</real>
      <key>public.kern2.period</key>
      <real>-60.0</real>
      <key>public.kern2.question</key>
      <real>60.0</real>
      <key>public.kern2.quotedblright</key>
      <real>80.0</real>
      <key>public.kern2.quotesingle</key>
      <real>100.0</real>
      <key>public.kern2.seven</key>
      <real>120.0</real>
      <key>public.kern2.seven.osf</key>
      <real>60.0</real>
      <key>public.kern2.three</key>
      <real>60.0</real>
      <key>public.kern2.two</key>
      <real>60.0</real>
      <key>public.kern2.v</key>
      <real>40.0</real>
      <key>public.kern2.w</key>
      <real>40.0</real>
      <key>public.kern2.y</key>
      <real>40.0</real>
      <key>public.kern2.zero</key>
      <real>60.0</real>
    </dict>
    <key>public.kern1.f.sc</key>
    <dict>
      <key>public.kern2.a.sc</key>
      <real>-130.0</real>
      <key>public.kern2.o.sc</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.five.osf</key>
    <dict>
      <key>public.kern2.A</key>
      <real>40.0</real>
      <key>public.kern2.M</key>
      <real>20.0</real>
    </dict>
    <key>public.kern1.five.sc</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-40.0</real>
      <key>public.kern2.t.sc</key>
      <real>40.0</real>
    </dict>
    <key>public.kern1.four</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-60.0</real>
    </dict>
    <key>public.kern1.four.osf</key>
    <dict>
      <key>public.kern2.A</key>
      <real>60.0</real>
      <key>public.kern2.T</key>
      <real>-60.0</real>
      <key>public.kern2.V</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.four.sc</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-40.0</real>
      <key>public.kern2.W</key>
      <real>-60.0</real>
      <key>public.kern2.t.sc</key>
      <real>-80.0</real>
    </dict>
    <key>public.kern1.fraction</key>
    <dict>
      <key>public.kern2.seven.dnom</key>
      <real>120.0</real>
    </dict>
    <key>public.kern1.guillemetright</key>
    <dict>
      <key>public.kern2.H</key>
      <real>60.0</real>
      <key>public.kern2.T</key>
      <real>-80.0</real>
      <key>public.kern2.V</key>
      <real>-60.0</real>
    </dict>
    <key>public.kern1.guilsinglleft</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-80.0</real>
      <key>public.kern2.V</key>
      <real>-60.0</real>
      <key>public.kern2.f</key>
      <real>-40.0</real>
      <key>public.kern2.jdotless</key>
      <real>-40.0</real>
      <key>public.kern2.questiondown</key>
      <real>-180.0</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.S</key>
      <real>-20.0</real>
      <key>public.kern2.T</key>
      <real>-80.0</real>
      <key>public.kern2.V</key>
      <real>-80.0</real>
      <key>public.kern2.one.osf</key>
      <real>60.0</real>
      <key>public.kern2.seven.sc</key>
      <real>-40.0</real>
      <key>public.kern2.v.sc</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.increment</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <real>-60.0</real>
    </dict>
    <key>public.kern1.jdotless</key>
    <dict>
      <key>public.kern2.guillemetright</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.v</key>
      <real>20.0</real>
      <key>public.kern2.y</key>
      <real>20.0</real>
    </dict>
    <key>public.kern1.l.sc</key>
    <dict>
      <key>public.kern2.t.sc</key>
      <real>-140.0</real>
      <key>public.kern2.v.sc</key>
      <real>-100.0</real>
      <key>public.kern2.w.sc</key>
      <real>-100.0</real>
      <key>public.kern2.y.sc</key>
      <real>-140.0</real>
    </dict>
    <key>public.kern1.lslash</key>
    <dict>
      <key>public.kern2.f</key>
      <real>40.0</real>
      <key>public.kern2.o</key>
      <real>40.0</real>
      <key>public.kern2.seven.osf</key>
      <real>40.0</real>
      <key>public.kern2.t</key>
      <real>40.0</real>
      <key>public.kern2.v</key>
      <real>40.0</real>
      <key>public.kern2.w</key>
      <real>40.0</real>
      <key>public.kern2.x</key>
      <real>40.0</real>
      <key>public.kern2.y</key>
      <real>40.0</real>
    </dict>
    <key>public.kern1.m.sc</key>
    <dict>
      <key>public.kern2.o.sc</key>
      <real>-20.0</real>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.one</key>
      <real>-20.0</real>
      <key>public.kern2.one.sc</key>
      <real>20.0</real>
      <key>public.kern2.three.sc</key>
      <real>40.0</real>
      <key>public.kern2.two.osf</key>
      <real>20.0</real>
      <key>public.kern2.zero</key>
      <real>20.0</real>
    </dict>
    <key>public.kern1.nine.osf</key>
    <dict>
      <key>public.kern2.A</key>
      <real>10.0</real>
      <key>public.kern2.H</key>
      <real>60.0</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.lslash</key>
      <real>40.0</real>
      <key>public.kern2.v</key>
      <real>-20.0</real>
      <key>public.kern2.w</key>
      <real>-20.0</real>
      <key>public.kern2.x</key>
      <real>-20.0</real>
      <key>public.kern2.y</key>
      <real>-20.0</real>
    </dict>
    <key>public.kern1.o.sc</key>
    <dict>
      <key>public.kern2.a.sc</key>
      <real>-60.0</real>
      <key>public.kern2.m.sc</key>
      <real>-60.0</real>
      <key>public.kern2.y.sc</key>
      <real>-80.0</real>
    </dict>
    <key>public.kern1.one</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-20.0</real>
    </dict>
    <key>public.kern1.one.dnom</key>
    <dict>
      <key>public.kern2.A</key>
      <real>80.0</real>
      <key>public.kern2.fraction</key>
      <real>-60.0</real>
    </dict>
    <key>public.kern1.one.osf</key>
    <dict>
      <key>public.kern2.W</key>
      <real>-40.0</real>
      <key>public.kern2.question</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.p.sc</key>
    <dict>
      <key>public.kern2.a.sc</key>
      <real>-140.0</real>
    </dict>
    <key>public.kern1.parenright</key>
    <dict>
      <key>public.kern2.V</key>
      <real>-60.0</real>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-140.0</real>
      <key>public.kern2.V</key>
      <real>-60.0</real>
      <key>public.kern2.W</key>
      <real>-120.0</real>
      <key>public.kern2.Y</key>
      <real>-60.0</real>
      <key>public.kern2.f</key>
      <real>-20.0</real>
      <key>public.kern2.four.osf</key>
      <real>40.0</real>
      <key>public.kern2.jdotless</key>
      <real>100.0</real>
      <key>public.kern2.questiondown</key>
      <real>60.0</real>
      <key>public.kern2.quotedblleft</key>
      <real>-120.0</real>
      <key>public.kern2.quotedblright</key>
      <real>-180.0</real>
      <key>public.kern2.quotesingle</key>
      <real>-120.0</real>
      <key>public.kern2.seven.osf</key>
      <real>-80.0</real>
      <key>public.kern2.seven.sc</key>
      <real>-80.0</real>
      <key>public.kern2.t.sc</key>
      <real>-80.0</real>
      <key>public.kern2.w</key>
      <real>-60.0</real>
      <key>public.kern2.y</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.q</key>
    <dict>
      <key>public.kern2.jdotless</key>
      <real>40.0</real>
    </dict>
    <key>public.kern1.question</key>
    <dict>
      <key>public.kern2.backslash</key>
      <real>100.0</real>
      <key>public.kern2.hyphen</key>
      <real>-80.0</real>
      <key>public.kern2.period</key>
      <real>-120.0</real>
    </dict>
    <key>public.kern1.questiondown</key>
    <dict>
      <key>public.kern2.jdotless</key>
      <real>180.0</real>
      <key>public.kern2.lslash</key>
      <real>40.0</real>
      <key>public.kern2.slash.case</key>
      <real>60.0</real>
      <key>public.kern2.y</key>
      <real>100.0</real>
    </dict>
    <key>public.kern1.quotedblleft</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-120.0</real>
      <key>public.kern2.Germandbls</key>
      <real>-40.0</real>
      <key>public.kern2.V</key>
      <real>40.0</real>
      <key>public.kern2.a</key>
      <real>-40.0</real>
      <key>public.kern2.exclamdown.case</key>
      <real>-120.0</real>
      <key>public.kern2.period</key>
      <real>-180.0</real>
      <key>public.kern2.questiondown</key>
      <real>-180.0</real>
      <key>public.kern2.questiondown.case</key>
      <real>-120.0</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-80.0</real>
      <key>public.kern2.o</key>
      <real>-60.0</real>
      <key>public.kern2.period</key>
      <real>-180.0</real>
      <key>public.kern2.questiondown</key>
      <real>-180.0</real>
    </dict>
    <key>public.kern1.quotereversed</key>
    <dict>
      <key>public.kern2.period</key>
      <real>-180.0</real>
      <key>public.kern2.questiondown</key>
      <real>-180.0</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-60.0</real>
      <key>public.kern2.V</key>
      <real>40.0</real>
      <key>public.kern2.W</key>
      <real>40.0</real>
      <key>public.kern2.Y</key>
      <real>40.0</real>
      <key>public.kern2.period</key>
      <real>-60.0</real>
      <key>public.kern2.questiondown</key>
      <real>-140.0</real>
      <key>public.kern2.t.sc</key>
      <real>60.0</real>
      <key>public.kern2.v.sc</key>
      <real>40.0</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-4.0</real>
      <key>public.kern2.period</key>
      <real>-60.0</real>
    </dict>
    <key>public.kern1.seven</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-100.0</real>
      <key>public.kern2.T</key>
      <real>40.0</real>
      <key>public.kern2.W</key>
      <real>40.0</real>
      <key>public.kern2.four</key>
      <real>-60.0</real>
      <key>public.kern2.hyphen</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.seven.dnom</key>
    <dict>
      <key>public.kern2.fraction</key>
      <real>-120.0</real>
    </dict>
    <key>public.kern1.seven.sc</key>
    <dict>
      <key>public.kern2.T</key>
      <real>40.0</real>
    </dict>
    <key>public.kern1.six</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-60.0</real>
    </dict>
    <key>public.kern1.slash</key>
    <dict>
      <key>public.kern2.W</key>
      <real>100.0</real>
      <key>public.kern2.a</key>
      <real>-20.0</real>
    </dict>
    <key>public.kern1.slash.case</key>
    <dict>
      <key>public.kern2.W</key>
      <real>40.0</real>
    </dict>
    <key>public.kern1.t.sc</key>
    <dict>
      <key>public.kern2.a.sc</key>
      <real>-60.0</real>
      <key>public.kern2.five.sc</key>
      <real>60.0</real>
      <key>public.kern2.four.sc</key>
      <real>-60.0</real>
      <key>public.kern2.one.sc</key>
      <real>80.0</real>
      <key>public.kern2.period</key>
      <real>-80.0</real>
      <key>public.kern2.quotesingle</key>
      <real>60.0</real>
      <key>public.kern2.seven.sc</key>
      <real>40.0</real>
      <key>public.kern2.three.sc</key>
      <real>80.0</real>
      <key>public.kern2.two.sc</key>
      <real>80.0</real>
      <key>public.kern2.v.sc</key>
      <real>60.0</real>
      <key>public.kern2.w.sc</key>
      <real>60.0</real>
      <key>public.kern2.y.sc</key>
      <real>60.0</real>
    </dict>
    <key>public.kern1.three.dnom</key>
    <dict>
      <key>public.kern2.fraction</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.three.osf</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-60.0</real>
    </dict>
    <key>public.kern1.three.sc</key>
    <dict>
      <key>public.kern2.W</key>
      <real>-60.0</real>
    </dict>
    <key>public.kern1.two.osf</key>
    <dict>
      <key>public.kern2.question</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.uhorn.sc</key>
    <dict>
      <key>public.kern2.t.sc</key>
      <real>100.0</real>
    </dict>
    <key>public.kern1.v.sc</key>
    <dict>
      <key>public.kern2.a.sc</key>
      <real>-80.0</real>
      <key>public.kern2.hyphen</key>
      <real>-40.0</real>
      <key>public.kern2.quotesingle</key>
      <real>40.0</real>
      <key>public.kern2.seven.osf</key>
      <real>80.0</real>
      <key>public.kern2.t.sc</key>
      <real>60.0</real>
      <key>public.kern2.y.sc</key>
      <real>40.0</real>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.lslash</key>
      <real>40.0</real>
      <key>public.kern2.o</key>
      <real>-20.0</real>
      <key>public.kern2.period</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.w.sc</key>
    <dict>
      <key>public.kern2.a.sc</key>
      <real>-80.0</real>
      <key>public.kern2.t.sc</key>
      <real>30.0</real>
    </dict>
    <key>public.kern1.y.sc</key>
    <dict>
      <key>public.kern2.a.sc</key>
      <real>-80.0</real>
      <key>public.kern2.o.sc</key>
      <real>-20.0</real>
      <key>public.kern2.t.sc</key>
      <real>60.0</real>
      <key>public.kern2.v.sc</key>
      <real>40.0</real>
      <key>public.kern2.w.sc</key>
      <real>40.0</real>
      <key>public.kern2.y.sc</key>
      <real>40.0</real>
    </dict>
    <key>public.kern1.zero</key>
    <dict>
      <key>public.kern2.H</key>
      <real>60.0</real>
      <key>public.kern2.a</key>
      <real>20.0</real>
    </dict>
  </dict>
</plist>
